<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="imagens/logo_posling_balao.png"/>

        <link rel="stylesheet" href="css/estilo.css">
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-theme.css" rel="stylesheet">
        <link href="css/bootstrap-theme.min.css" rel="stylesheet">
        
</head>
<body>
    <main id="portugues">
      <div class="container-fluid img-home">
        <div class="transparente">
            <div class="painelLogo">
            <img src="imagens/logo_posling.png" class="logoHome" alt="LogoPosling">
              <!--<%=image_tag("logo_posling.png", alt: "LogoPosling", class:"logoHome")%>-->
            </div>
        </div>
      </div>
      <div class="container-fluid apresentacao">
        <h3>
          "A linguagem do entusiasmo, das coisas feitas com amor e com vontade, em busca de algo que se desejava ou em que se acreditava."
        </h3>
      </div>
  
      <div class="container bem-vindo">
        <div class="separador">
        </div>
        <img src="imagens/bemvindo.png" class="logoBalao" alt="LogoPoslingBalao">
        <!--<%= image_tag("bemvindo.png", alt:"LogoPoslingBalao", class:"logoBalao")%>-->
      </div>
      
      <footer class="finalHome">
        <div class="">
          <div class="">
            <div class="col-md-5 col-md-offset-1 txtHome">
              <h5>Instituto de Letras da UFF – Rua Professor Marcos Waldemar de Freitas Reis, s/n°. Campus do Gragoatá, Bloco C, sala 518. CEP: 24210-201, em Niterói, estado do Rio de Janeiro.</h5>
              <h5> 
              <strong>E-mail:</strong> pgletras@vm.uff.br<br><br>
              <strong>Telefone(s):</strong> (21) 2629-2607/ (21) 2629-2608</h5>         
            </div>
            <div class="col-md-2 col-md-offset-4">
              <img src="imagens/uff.png" class="logouff" alt="LogoUFF">  
              <img src="imagens/facebook_logo.png" class="logoFb" alt="LogoFacebook">    
               <!--<%= image_tag("uff.png", alt:"LogoUFF", class:"logouff")%>-->
               <!--<%= image_tag("facebook_logo.png", alt:"LogoFacebook", class:"logoFb")%>-->
            </div>
          </div>  
        </div>  
      </footer>  
  
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/traducao.js"></script>
  
</body>
</html>